<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar medico..."
          (keyup)="buscarMedico(txtBusqueda.value)"
          #txtBusqueda
        />
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-info text-center" role="alert">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4 class="card-title">Medicos</h4>
            <h6 class="card-subtitle">Medicos registrados en mi aplicación</h6>
          </div>
          <div class="col-6">
            <div class="text-right">
              <button class="btn btn-primary" (click)="editarMedico()">
                <i class="fa fa-hospital-o"></i>
                Crear Medico
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th class="text-nowrap">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of medicos">
                <td>
                  <img
                    [src]="m.img | getimagen: 'medicos'"
                    alt=""
                    style="width: 50px; height: 50px"
                    class="cursor"
                    (click)="abrirModal(m)"
                  />
                </td>
                <td>{{ m.nombre }}</td>
                <td class="text-nowrap text-center w100">
                  <a
                    [routerLink]="['/dashboard/medico', m._id]"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    class="cursor"
                    (click)="eliminarMedico(m)"
                    data-toggle="tooltip"
                    data-original-title="Close"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <button class="btn btn-secondary mr-2">Anteriores</button>

        <button class="btn btn-secondary">Siguientes</button> -->
      </div>
    </div>
  </div>
</div>
